@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";


    model-viewer {
      width: 300px;
      height: 300px;
      background: white;
    }
    .background3D {
        background: rgb(240,172,79);
        background: linear-gradient(0deg, rgba(240,172,79,1) 0%, rgba(252,176,46,1) 4%, rgba(184,220,235,1) 9%, rgba(114,209,245,1) 17%, rgba(57,174,199,1) 29%, rgba(14,83,98,1) 100%);
    }